@media (prefers-color-scheme: dark) {
    :root {
        --bg-1: #090909;
        --bg-2: #171717;
        --bg-3: #2a2a2a;
        --bg-4: #3a3a3a;
        --bg-5: #3e3e3e;

        --fg-1: #fcfcfc;
        --fg-2: #e7e7e7;
        --fg-3: #c2c2c2;

        --accent-primary-1: rgb(255, 123, 123);
        --accent-primary-2: rgb(255, 99, 99);
        --accent-primary-3: rgb(255, 75, 75);

        --accent-secondary-1: rgb(147, 255, 147);
        --accent-secondary-2: rgb(115, 221, 115);
        --accent-secondary-3: rgb(92, 187, 92);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-1: #fff;
        --bg-2: #eee;
        --fg-1: #000;
        --fg-2: #111;
        --accent-1: rgb(255, 75, 75);
        --accent-2: rgb(99, 228, 99);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    color: var(--fg-1);
    background-color: var(--bg-1);
    font-family: "Roboto", sans-serif;
}

button {
    user-select: none;
}

button:focus-visible {
    outline: 2px solid var(--accent-secondary-3);
    outline-offset: 2px;
}
